@import 'vuetify/src/styles/styles.sass'

/* Theme */
+theme(card-component) using ($material)
  &:not(.card-component--is-disabled)
    .card-component__slot
      color: map-deep-get($material, 'text', 'primary')

  &--is-disabled
    .v-label,
    .card-component__slot
      color: map-deep-get($material, 'text', 'disabled')

.card-component
  align-items: flex-start
  display: flex
  flex: 1 1 auto
  font-size: 16px
  letter-spacing: normal
  text-align: left

  .v-progress-linear
    top: calc(100% - 1px)
    left: 0

  .card-component__slot
    max-height: 32px

  .v-label
    height: 20px
    line-height: 20px

  &__append-outer,
  &__prepend-outer
    display: inline-flex
    margin-bottom: 4px
    margin-top: 4px
    line-height: 1

    .v-icon
      user-select: none

  &__append-outer
    +ltr()
      margin-left: 9px
    +rtl()
      margin-right: 9px

  &__prepend-outer
    +ltr()
      margin-right: 9px
    +rtl()
      margin-left: 9px

  &__control
    display: flex
    flex-direction: column
    height: auto
    flex-grow: 1
    flex-wrap: wrap
    width: 100% // For IE11

  &__icon
    align-items: center
    display: inline-flex
    height: 24px
    flex: 1 0 auto
    justify-content: center
    min-width: 24px
    width: 24px

    &--clear
      border-radius: 50%

  &__slot
    align-items: center
    color: inherit
    display: flex
    margin-bottom: 8px
    min-height: inherit
    position: relative
    transition: $primary-transition
    width: 100%

  &--is-disabled:not(.card-component--is-readonly)
    pointer-events: none

  &--is-loading > .card-component__control > .card-component__slot
    &:before,
    &:after
      display: none

  &--hide-details > .card-component__control > .card-component__slot
    margin-bottom: 0

  &--has-state
    &.error--text .v-label
      animation: v-shake .6s map-get($transition, 'swing')
