@import 'vuetify/src/styles/styles.sass'

+theme(group-card) using ($material)
  & > .card-component__control > .card-component__slot:before
    border-color: map-get($material, 'input-bottom-line')

  &:not(.card-component--has-state) > .card-component__control > .card-component__slot:hover:before
    border-color: map-deep-get($material, 'text', 'primary')

  &.card-component--is-disabled > .card-component__control > .card-component__slot:before
    border-image: repeating-linear-gradient(to right, #{map-deep-get($material, 'text', 'disabled')} 0px, #{map-deep-get($material, 'text', 'disabled')} 2px, transparent 2px, transparent 4px) 1 repeat

  &.card-component--is-disabled
    .group-card__prefix,
    .group-card__suffix
      color: map-deep-get($material, 'text', 'disabled')

  &__prefix,
  &__suffix
    color: map-deep-get($material, 'text', 'secondary')

  &--solo > .card-component__control > .card-component__slot
    background: map-get($material, 'cards')

  &--solo-inverted.group-card--solo
    & > .card-component__control > .card-component__slot
      background: map-deep-get($material, 'inputs', 'solo-inverted')

  &--filled
    & > .card-component__control > .card-component__slot
      background: map-deep-get($material, 'text-fields', 'filled')

    .group-card__prefix,
    .group-card__suffix
      max-height: 32px
      margin-top: 20px

    &:not(.card-component--is-focused) > .card-component__control > .card-component__slot:hover
      background: map-deep-get($material, 'text-fields', 'filled-hover')

  &--outlined
    fieldset
      border-color: map-deep-get($material, 'text-fields', 'outlined')

  &--underlined
    & > .card-component__control > .card-component__slot
      transition: background $primary-transition

      &:before
        border-style: solid
        border-width: thin 0 0 0
        display: inherit

      &:after
        border-color: currentColor
        border-style: solid
        border-width: thin 0 thin 0
        transform: scaleX(0)
        display: inherit

.group-card
  padding-top: $text-field-active-label-height
  margin-top: $input-top-spacing - $text-field-active-label-height

  .group-card__content
    flex: 1 1 auto
    line-height: 20px
    padding: 8px 0 8px
    max-width: 100%
    min-width: 0px
    width: 100%

    &[type=text]::-ms-clear
      display: none

  .card-component__prepend-inner,
  .card-component__append-inner
    align-self: flex-start
    display: inline-flex
    margin-top: 4px
    line-height: 1
    user-select: none

  .card-component__prepend-inner
    margin-right: auto
    padding-right: 4px

    +rtl()
      padding-right: 0
      padding-left: 4px

  .card-component__append-inner
    margin-left: auto
    padding-left: 4px

    +rtl()
      padding-left: 0
      padding-right: 4px

    +rtl()
      margin-left: 0
      margin-right: 8px

  .v-label
    max-width: 90%
    overflow: hidden
    text-overflow: ellipsis
    top: 6px // equal to the margin top of icons
    transform-origin: top left
    white-space: nowrap
    pointer-events: none

    &--active
      max-width: 133%
      transform: translateY(-18px) scale(.75)

  & > .card-component__control > .card-component__slot
    transition: background $primary-transition

    &:before,
    &:after
      bottom: -1px // Needed for browser autocomplete styles
      content: ''
      left: 0
      position: absolute
      transition: $primary-transition
      width: 100%

  &__details
    display: flex
    flex: 1 0 auto
    max-width: 100%
    min-height: 14px
    overflow: hidden

  &__prefix,
  &__suffix
    align-self: center
    cursor: default
    transition: color $primary-transition
    white-space: nowrap

  &__prefix
    text-align: right
    padding-right: 4px

    +rtl()
      padding-right: 0
      padding-left: 4px

  &__suffix
    padding-left: 4px
    white-space: nowrap

    +rtl()
      padding-left: 0
      padding-right: 4px

  &--reverse
    .group-card__prefix
      text-align: left
      padding-right: 0
      padding-left: 4px

      +rtl()
        padding-right: 4px
        padding-left: 0

    .group-card__suffix
      padding-left: 0
      padding-right: 4px

      +rtl()
        padding-left: 4px
        padding-right: 0

  & > .card-component__control > .card-component__slot > .group-card__slot
    display: flex
    flex: 1 1 auto
    position: relative

  &:not(.group-card--is-booted)
    .v-label,
    legend
      transition: none

  &--filled,
  &--full-width,
  &--outlined
    position: relative

    & > .card-component__control > .card-component__slot
      align-items: stretch
      min-height: 56px

  &--filled,
  &--full-width
    .group-card__content
      margin-top: 22px

    &.group-card--single-line
      .group-card__content
        margin-top: 12px

    .v-label
      top: 18px

      &--active
        transform: translateY(-6px) scale(.75)

  &--filled > .card-component__control > .card-component__slot
    border-top-left-radius: 4px
    border-top-right-radius: 4px

  &.group-card--enclosed
    margin: 0
    padding: 0

    &.group-card--single-line
      .group-card__prefix,
      .group-card__suffix
        margin-top: 0

    &:not(.group-card--filled)
      .v-progress-linear__background
        display: none

    .card-component__prepend-outer,
    .card-component__prepend-inner,
    .card-component__append-inner,
    .card-component__append-outer
      margin-top: 16px

    .group-card__details,
    & > .card-component__control > .card-component__slot
      padding: 0 12px

    .group-card__details
      margin-bottom: 8px

  &--reverse
    .group-card__content
      text-align: right

    .v-label
      transform-origin: top right

    & > .card-component__control > .card-component__slot,
    .group-card__slot
      flex-direction: row-reverse

  &--solo,
  &--outlined,
  &--full-width,
  &--rounded
    & > .card-component__control > .card-component__slot
      &:before,
      &:after
        display: none

  &--outlined
    margin-bottom: 16px
    transition: border $primary-transition

    .v-label
      top: 18px

      &--active
        transform: translateY(-24px) scale(.75)

    fieldset
      border-style: solid
      border-width: 1px
      bottom: 0
      left: 0
      padding-left: 8px
      pointer-events: none
      position: absolute
      right: 0
      top: -5px
      transition-duration: 0.3s
      transition-property: border, border-width
      transition-timing-function: map-get($transition, 'fast-in-fast-out')

      +rtl()
        padding-left: 0
        padding-right: 8px

    legend
      line-height: 11px
      padding: 0
      text-align: left
      transition: width $primary-transition

      +rtl()
        text-align: right

    &.group-card--rounded
      legend
        margin-left: 12px

        +rtl()
          margin-left: 0
          margin-right: 12px

    & > .card-component__control > .card-component__slot
      background: transparent !important

    .group-card__prefix
      max-height: 32px

    .card-component__prepend-outer,
    .card-component__append-outer
      margin-top: 18px // 2px for border

  &--solo,
  &--outlined
    border-radius: 4px

    fieldset,
    .card-component__control,
    .card-component__slot
      border-radius: inherit

    .group-card__slot
      align-items: center

  &--rounded
    border-radius: 28px

    &.group-card--outlined
      fieldset
        border-radius: 28px

    > .card-component__control > .card-component__slot
      border-radius: 28px
      padding: 0 24px !important

  &--shaped
    &.group-card--outlined
      fieldset
        border-radius: 16px 16px 0 0

    > .card-component__control > .card-component__slot
      border-top-left-radius: 16px
      border-top-right-radius: 16px

  &.group-card--solo
    .v-label
      top: calc(50% - 10px)

    .card-component__control
      min-height: 48px
      padding: 0

    &:not(.group-card--solo-flat) > .card-component__control > .card-component__slot
      +elevation(2)

    .card-component__append-inner,
    .card-component__prepend-inner
      align-self: center
      margin-top: 0

    .card-component__prepend-outer,
    .card-component__append-outer
      margin-top: 12px


  &.card-component > .card-component__control > .card-component__slot:before
    border-color: currentColor

  +rtl()
    .v-label
      transform-origin: top right

    &--enclosed
      .card-component__append-outer
        margin-left: 0
        margin-right: 16px

      .card-component__prepend-outer
        margin-left: 16px
        margin-right: 0

    &--reverse
      .group-card__content
        text-align: left

      .v-label
        transform-origin: top left

    &__prefix
      text-align: left
      padding-right: 0
      padding-left: 4px

    &__suffix
      padding-left: 0
      padding-right: 4px

    &--reverse
      .group-card__prefix
        text-align: right
        padding-left: 0
        padding-right: 4px

      .group-card__suffix
        padding-left: 0
        padding-right: 4px
