<template>
  <GroupCard
    class="d-inline-flex-row pa-2"
    v-bind="$attrs"
    @input="$emit('change', $event.target.value)"
    v-on="$listeners"
  >
    <slot />
  </GroupCard>
</template>

<script>
import GroupCard from '@/components/GroupCard'

export default {
  name: 'ToolInfo',
  components: {
    GroupCard
  },
  inheritAttrs: false,
  props: {
    tool: {
      type: Object,
      default: null
    }
  },
  data() {
    return {}
  }
}
</script>
