<template>
  <v-card class="mx-auto">
    <v-card flat class="" :href="tool.link">
      <div class="d-flex flex-row flex-wrap align-center" no-gutters>
        <img
          width="50"
          height="50"
          src="https://cdn.vuetifyjs.com/images/logos/v-alt.svg"
          alt=""
        />
        <div class="d-flex flex-column flex-wrap" no-gutters>
          <div class="display-3 px-2">{{ tool.name }}</div>
          <v-btn text x-small :href="tool.link">
            <div>
              <v-icon x-small>mdi-open-in-new</v-icon>
              Website [ {{ tool.link }} ]
            </div>
          </v-btn>
        </div>
        <div class="pa-2 ml-auto" no-gutters>
          <ToolInfo label="calmLevel">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-chip v-on="on">
                  <v-icon>mdi-star</v-icon>
                  <v-icon>mdi-clipboard-check-outline</v-icon>
                  {{ tool.calmLevel }}
                </v-chip>
              </template>
              GFOI Reviewed
            </v-tooltip>
          </ToolInfo>
          <ToolInfo label="language">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <span class="flag-icon flag-icon-au" v-on="on" />
              </template>
              {{ tool.language }}
            </v-tooltip>
          </ToolInfo>
        </div>
      </div>
    </v-card>
    <v-card-text>
      {{ tool.description }}
    </v-card-text>
    <v-divider class="pa-3" />
    <v-container>
      <ToolInfoPanelSection title="MRV Tenical Details">
        <v-container>
          <v-row>
            <v-col>
              <ToolInfo label="mrvObjectives">
                {{ tool.mrvObjectives }}
              </ToolInfo>
              <ToolInfo label="supportActivities">
                {{ tool.supportActivities }}
              </ToolInfo>
              <ToolInfo label="tasksPerformed">
                {{ tool.tasksPerformed }}
              </ToolInfo>
            </v-col>
            <v-col>
              <ToolInfo label="region">
                {{ tool.region }}
              </ToolInfo>
              <ToolInfo label="forestTypes">
                {{ tool.forestTypes }}
              </ToolInfo>
              <ToolInfo label="countriesUsed">
                {{ tool.countriesUsed }}
              </ToolInfo>
            </v-col>
            <v-col>
              <div class="d-flex flex-column flex-wrap" no-gutters>
                <ToolInfo label="ipccTier">
                  {{ tool.ipccTier }}
                </ToolInfo>
                <ToolInfo label="ipccApproach">
                  {{ tool.ipccApproach }}
                </ToolInfo>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </ToolInfoPanelSection>
      <!-- <ToolInfoPanelSection title="Adoption Details"> -->
      <!--   <v-row> -->
      <!--     <v-col> -->
      <!--       <ToolInfo label="supportedDevices"> -->
      <!--         {{ tool.supportedDevices }} -->
      <!--       </ToolInfo> -->
      <!--       <ToolInfo label="supportPlatforms"> -->
      <!--         {{ tool.supportPlatforms }} -->
      <!--       </ToolInfo> -->
      <!--     </v-col> -->
      <!--     <v-col> -->
      <!--       <ToolInfo label="hasInterOpTool"> -->
      <!--         {{ tool.hasInterOpTool }} -->
      <!--       </ToolInfo> -->
      <!--       <ToolInfo label="interoperateList"> -->
      <!--         {{ tool.interoperateList }} -->
      <!--       </ToolInfo> -->
      <!--       <ToolInfo label="inputScale"> -->
      <!--         {{ tool.inputScale }} -->
      <!--       </ToolInfo> -->
      <!--       <ToolInfo label="outputDataFormat"> -->
      <!--         {{ tool.outputDataFormat }} -->
      <!--       </ToolInfo> -->
      <!--     </v-col> -->
      <!--     <v-col> -->
      <!--       <ToolInfo label="reqNetwork"> -->
      <!--         {{ tool.reqNetwork }} -->
      <!--       </ToolInfo> -->
      <!--       <ToolInfo label="reqStorage"> -->
      <!--         {{ tool.reqStorage }} -->
      <!--       </ToolInfo> -->
      <!--       <ToolInfo label="reqSystem"> -->
      <!--         {{ tool.reqSystem }} -->
      <!--       </ToolInfo> -->
      <!--     </v-col> -->
      <!--   </v-row> -->
      <!-- </ToolInfoPanelSection> -->
      <ToolInfoPanelSection title="General Information">
        <v-row class="d-flex flex-row flex-wrap align-end" no-gutters>
          <v-col>
            <ToolInfo label="releaseLink">
              {{ tool.releaseLink }}
            </ToolInfo>
            <ToolInfo label="activeDevelopement">
              {{ tool.activeDevelopement }}
            </ToolInfo>
            <ToolInfo label="contributorsList">
              {{ tool.contributorsList }}
            </ToolInfo>
          </v-col>
          <v-col>
            <ToolInfo label="licence">
              {{ tool.licence }}
            </ToolInfo>
            <ToolInfo label="version">
              {{ tool.version }}
            </ToolInfo>
            <ToolInfo label="lastReleaseDate">
              {{ tool.lastReleaseDate }}
            </ToolInfo>
          </v-col>
          <v-col>
            <ToolInfo label="skillLevel">
              {{ tool.skillLevel }}
            </ToolInfo>
            <ToolInfo label="hasHelpLink">
              {{ tool.hasHelpLink }}
            </ToolInfo>
            <ToolInfo label="helpLink">
              {{ tool.helpLink }}
            </ToolInfo>
            <ToolInfo label="helpLanguage">
              {{ tool.helpLanguage }}
            </ToolInfo>
          </v-col>
        </v-row>
      </ToolInfoPanelSection>
      <!-- <ToolInfoPanelSection title="Internal GFOI"> -->
      <!--   <ToolInfo label="inMGD"> -->
      <!--     {{ tool.inMGD }} -->
      <!--   </ToolInfo> -->
      <!--   <ToolInfo label="entryUpdated"> -->
      <!--     {{ tool.entryUpdated }} -->
      <!--   </ToolInfo> -->
      <!-- </ToolInfoPanelSection> -->
    </v-container>
    <v-divider />
  </v-card>
</template>
<script>
import ToolInfo from '@/components/ToolInfo'
import ToolInfoPanelSection from '@/components/ToolInfoPanelSection'

export default {
  name: 'ToolInfoPanel',
  components: {
    ToolInfo,
    ToolInfoPanelSection
  },
  props: {
    tool: {
      type: Object,
      default() {
        return {
          name: 'No Tool Selected',
          description: '',
          link: '',
          language: '',
          mrvObjectives: '',
          supportActivities: '',
          tasksPerformed: '',
          skillLevel: '',
          hasInterOpTool: '',
          interoperateList: '',
          inputDataFormat: '',
          inputScale: '',
          outputDataFormat: '',
          hasHelpLink: '',
          helpLanguage: '',
          helpLink: '',
          supportedDevices: '',
          supportPlatforms: '',
          reqNetwork: '',
          reqStorage: '',
          reqSystem: '',
          licence: '',
          version: '',
          lastReleaseDate: '',
          activeDevelopement: '',
          releaseLink: '',
          contributorsList: '',
          region: '',
          forestTypes: '',
          countriesUsed: '',
          ipccTier: '',
          ipccApproach: '',
          inMGD: '',
          calmLevel: '',
          entryUpdated: ''
        }
      }
    }
  }
}
</script>
<style>
@import 'flag-icon-css/css/flag-icon.css';
</style>
