<template>
  <v-card class="mx-auto pa-0" outlined>
    <v-card-title class="overline">{{ title }}</v-card-title>
    <v-card-text class="d-flex flex-row flex-wrap ma-auto px-1">
      <slot />
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: 'ToolInfoPanelSection',
  components: {},
  inheritAttrs: false,
  props: {
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {}
  }
}
</script>
