<template>
  <v-layout>
    <v-flex>
      <h2>Content extensions</h2>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
        width="auto"
        outlined
      />
      <v-data-table
        :headers="headers"
        :items="dataStrings"
        :items-per-page="-1"
        :search="search"
        item-key="name"
        dense
        fixed-header
        show-expand
        height="70vh"
        class="elevation-1"
      >
        <template v-slot:expanded-item="{ item, headers }">
          <td :colspan="headers.length">
            <ToolInfoPanel :tool="item" />
          </td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>
<script>
import tblHeaders from '@/assets/json/headers.json'
import tblrotData from '@/assets/json/RotData.json'
import ToolInfoPanel from '@/components/ToolInfoPanel'

export default {
  components: {
    ToolInfoPanel
  },
  data() {
    return {
      search: '',
      headers: tblHeaders.headers.filter(tableHeaderFilter),
      dataStrings: tblrotData.data
    }
  }
}

function tableHeaderFilter(hdr) {
  const tableHeaders = ['name', 'mrvObjectives', 'tasksPerformed']

  return tableHeaders.includes(hdr.value)
}
</script>
