<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md12>
      <v-card>
        <v-card-title class="headline">Prototype App</v-card-title>
        <v-card-text>
          <div class="section">
            <h1>GFOI Tools Registry</h1>
            <p>
              There is a broad and dispersed range of tools countries may use to
              Measure, Report and Verify greenhouse gas emissions from forests.
              Currently countries may not be aware of all the options available.
            </p>
            <p>
              The GFOI Tools Registry will facilitate the dynamic connecting of
              information about tools to the GFOI Methods and Guidance
              Documentation. This new connection will support countries to find
              the tools that fit within their operational environment.
            </p>
            <p>
              The survey of available tools will also identify country needs
              which are not currently supported by the available tools. GFOI
              aims to champion the adoption and development of new tools to fill
              these gaps. The R&amp;D can then help to progress tools towards an
              operational phase. The capacity building and implementation
              partners will be able to use the GFOI Tools Registry as a
              reference for up to date information.
            </p>
            <p>
              The GFOI Tool Registry will be an online platform for
              communicating the available tools based on categories and search
              criteria. It aims to help organize the tools and assist countries
              in making informed decisions on which tool(s) meets their needs.
            </p>
            <p>
              The tool information, MGD sections and the REDDcompass Actions
              will be linked and cross referenced to allow the user to explore
              between the different concepts and resources.
            </p>
            <div class="section">
              <h2>What tools are included</h2>
              <p>
                For the purpose of this registry, the definition of a tool is
                any piece of technology that directly or indirectly supports
                National Forest Monitoring Systems (NFMS) and associated
                measurement, reporting and verification (MRV) procedures. This
                includes technology which can be used directly within an NFMS or
                is used to prepare any inputs or outputs. The GFOI registry of
                tools may include software packages that have a focus on broader
                applications, however the software should be capable of
                addressing specific REDDcompass actions.
              </p>
            </div>
            <div class="section">
              <h2>Prototype of the functionality</h2>
              <dl class="docutils">
                <dt>Context</dt>
                <dd>
                  <p class="first">
                    To date, only a Prototype of the GFOI Tools Registry has
                    been developed. This document has been prepared to guide
                    partners through the prototype.
                  </p>
                  <p class="last">
                    The prototype has been developed to propose options for
                    functionality and the types of information which can
                    potentially be displayed on the Registry. We are now seeking
                    comments/input on this proposal from the Data Component
                    co-Leads and other GFOI partners who have been involved in
                    the process, to help inform the next phase of development.
                  </p>
                </dd>
                <dt>Appearance</dt>
                <dd>
                  The prototype styling is different to how the final product
                  will look. It is proposed that the interface for the GFOI
                  Registry of Tools will have a very similar look and feel to
                  REDDcompass which may also change as a result of the current
                  upgrade. The exact appearance of the Registry is still TBC,
                  however it will be based on Google’s standard material design
                  guidelines.
                </dd>
                <dt>Functionality</dt>
                <dd>
                  <p class="first">
                    The home page will feature a default list of tools submitted
                    by partners to date, which have been confirmed as
                    operational (according to CALM) and relevant to a
                    REDDcompass action or section of the MGD (as confirmed by
                    the MGD AG). Clicking on any of the listed tools will
                    display a sub page of relevant information on that tool –
                    see the Tool Information View tab in the prototype for the
                    proposed information to be displayed. In summary, this
                    includes an Overview description of the tool, a panel on its
                    MRV Technical Details and another panel of General
                    Information (including links to tools, manuals and contacts,
                    etc).
                  </p>
                  <p>
                    The list on the homepage will be able to be filtered
                    according to predetermined criteria, such as pre-operational
                    tools (i.e. R&amp;D phase), remote sensing and/or ground
                    data relevant, language availability (i.e. English, Spanish
                    and French) and various other criteria. These criteria are
                    still to be confirmed and suggestions are most welcome.
                  </p>
                  <p class="last">
                    The operational tools will also be displayed with the
                    relevant actions within REDDcompass and the relevant
                    sections within the MGD 3.0. Clicking on these links will
                    take you to the same subpages (Tool Information View)
                    mentioned above.
                  </p>
                </dd>
              </dl>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  components: {}
}
</script>

<style lang="scss">
p {
  border: 0 none rgb(64, 64, 64);
  box-sizing: border-box;
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  //height: 72px;
  margin: 0 0 24px;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
  width: 650px;
}

p:after {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

p:before {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

div {
  border: 0 none rgb(64, 64, 64);
  box-sizing: border-box;
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  //height: 1613.05px;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
  //width: 696.469px;
}

div:after {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

div:before {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

h1 {
  border: 0 none rgb(64, 64, 64);
  box-sizing: border-box;
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  //height: 37px;
  margin: 0 0 23.24px;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
  width: 696.469px;
}

h1:after {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

h1:before {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

h2 {
  border: 0 none rgb(64, 64, 64);
  box-sizing: border-box;
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  //height: 32px;
  margin: 0 0 19.92px;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
  width: 696.469px;
}

h2:after {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

h2:before {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

dl {
  border: 0 none rgb(64, 64, 64);
  box-sizing: border-box;
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  //height: 729px;
  list-style: none outside none;
  margin: 0 0 24px;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
  width: 696.469px;
}

dl:after {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  list-style: none outside none;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

dl:before {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  list-style: none outside none;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

dt {
  border: 0 none rgb(64, 64, 64);
  box-sizing: border-box;
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  //height: 19px;
  list-style: none outside none;
  margin: 0 0 12px;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
  width: 696.469px;
}

dt:after {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  list-style: none outside none;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

dt:before {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  list-style: none outside none;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

dd {
  border: 0 none rgb(64, 64, 64);
  box-sizing: border-box;
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  //height: 156px;
  list-style: none outside none;
  margin: 0 0 12px 24px;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
  width: 672.469px;
}

dd:after {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  list-style: none outside none;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}

dd:before {
  border: 0 none rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  column-rule-color: rgb(64, 64, 64);
  list-style: none outside none;
  outline: rgb(64, 64, 64) none 0;
  text-decoration: none solid rgb(64, 64, 64);
  text-size-adjust: 100%;
}
</style>
