<template>
  <div class="justify-left">
    <h2 class="pa-5">Example Expansion control with all information</h2>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header v-slot="{ open }">
          <v-row no-gutters>
            <v-col cols="4">
              <span v-if="!open" key="0">
                {{ tool.name }}
              </span>
            </v-col>
            <v-col cols="8" class="text--secondary">
              <v-fade-transition leave-absolute>
                <span v-if="open" key="0">
                  Detail about this tool
                </span>
                <span v-else key="1">
                  Click to see some extended information about this tool.
                </span>
              </v-fade-transition>
            </v-col>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <ToolInfoPanel :tool="tool" />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>
<script>
import ToolInfoPanel from '@/components/ToolInfoPanel'

export default {
  name: 'ToolInfoView',
  components: {
    ToolInfoPanel
  },
  props: {
    tool: {
      type: Object,
      default() {
        return {
          name: 'Some great tool',
          description:
            'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta repellendus, a voluptas hic ratione, magnam ex corrupti ab veniam, ducimus ea aperiam asperiores rerum similique provident repudiandae eius soluta! Blanditiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis saepe praesentium vero mollitia nulla ipsum, eum, sint velit beatae blanditiis assumenda. Est consequuntur provident ducimus sit amet eveniet deleniti praesentium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi incidunt ipsa necessitatibus possimus voluptas nesciunt corporis laboriosam quidem at consequatur fuga itaque aliquam soluta, beatae eius deleniti debitis exercitationem et! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta repellendus, a voluptas hic ratione, magnam ex corrupti ab veniam, ducimus ea aperiam asperiores rerum similique provident repudiandae eius soluta! Blanditiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis saepe praesentium vero mollitia nulla ipsum, eum, sint velit beatae blanditiis assumenda. Est consequuntur provident ducimus sit amet eveniet deleniti praesentium!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi incidunt ipsa necessitatibus possimus voluptas nesciunt corporis laboriosam quidem at consequatur fuga itaque aliquam soluta, beatae eius deleniti debitis exercitationem et!',
          link: 'http://google.com',
          language: 'English',
          mrvObjectives:
            'Deforestation; Reforestation/afforestation; Burned area mapping',
          supportActivities: 'Remote sensing',
          tasksPerformed: 'Change Detection;LULC Mapping',
          skillLevel: 'Intermediate',
          hasInterOpTool: 'No',
          interoperateList: '',
          inputDataFormat: 'Satellite images',
          inputScale: 'Any scale of available satellite data',
          outputDataFormat: 'Map products',
          hasHelpLink: 'Yes',
          helpLanguage: 'English',
          helpLink: 'No online version available.',
          supportedDevices: 'Desktop',
          supportPlatforms: 'Windows;Linux;Web browser',
          reqNetwork: 'Available offline',
          reqStorage: 'Local Hard Drive;Web browser',
          reqSystem: 'Local Single Machine',
          licence: 'Proprietary',
          version: '2.18',
          lastReleaseDate: '3.10.2018',
          activeDevelopement: 'Yes',
          releaseLink: 'Not available online.',
          contributorsList: 'VTT Technical Research Centre of Finland Ltd.',
          region: 'All the above-mentioned',
          forestTypes: 'All the above-mentioned.',
          countriesUsed: 'Finland, Russia, Germany, Portugal, Romania...',
          ipccTier: 'Tier 2;Tier 3',
          ipccApproach: 'Approach 2;Approach 3',
          inMGD: 'No',
          calmLevel: 'Level 7: Adopted in Operational Environment',
          entryUpdated: '21.9.2019'
        }
      }
    }
  }
}
</script>
