<template>
  <div class="simple-table-area">
    <h2>Simple Table: MRV Tool Responses</h2>
    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      label="Search"
      single-line
      hide-details
      width="auto"
      outlined
    />
    <v-data-table
      :headers="headers"
      :items="dataStrings"
      :search="search"
      class="rot-simple-table elevation-1"
      item-key="name"
      :items-per-page="-1"
      dense
      fixed-header
      hide-default-footer
      disable-pagination
      height="60vh"
      width="300px"
      calculate-widths
    >
      <template v-slot:item.description="{ item }">
        <div class="tbl-col-description ellipsis">{{ item.description }}</div>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import tblHeaders from '@/assets/json/headers.json'
import tblrotData from '@/assets/json/RotData.json'
export default {
  data() {
    return {
      search: '',
      headers: tblHeaders.headers,
      dataStrings: tblrotData.data
    }
  }
}
</script>
<style lang="scss">
.ellipsis {
  /* Required for text-overflow to do anything */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tbl-col-name {
  width: 20px;
}

.tbl-col-description {
  width: 200px;
}

.simple-table-area {
  //height: auto;
  //overflow: scroll;
  //width: 100%;
  //width: max-content;
}

.rot-simple-table > .v-data-table__wrapper {
  overflow: scroll;

  table {
    width: max-content;
  }
}
</style>
