<template>
  <div class="justify-left">
    <h2 class="pa-5">Example Expansion control with all information</h2>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header v-slot="{ open }">
          <v-row no-gutters>
            <v-col cols="4">
              {{ tool.name }}
            </v-col>
            <v-col cols="8" class="text--secondary">
              <v-fade-transition leave-absolute>
                <span v-if="open" key="0">
                  Detail about this tool
                </span>
                <span v-else key="1">
                  Click to some more extended information about this tool.
                </span>
              </v-fade-transition>
            </v-col>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card class="mx-auto">
            <v-list-item two-line>
              <v-list-item-content>
                <v-list-item-title class="headline">
                  {{ tool.name }}
                  <v-btn text x-small href="tool.link">
                    Tool Website<v-icon x-small>mdi-open-in-new</v-icon>
                  </v-btn>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-card-text>
              {{ tool.description }}
            </v-card-text>
            <v-divider />
            <div class="d-flex flex-row flex-wrap mb-6" no-gutters>
              <ToolInfo>
                <v-subheader>language</v-subheader>
                <v-card-text>
                  English
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  mrvObjectives
                </v-subheader>
                <v-card-text>
                  'Deforestation; Reforestation/afforestation; Burned area
                  mapping'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  supportActivities
                </v-subheader>
                <v-card-text>
                  'Remote sensing'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  tasksPerformed
                </v-subheader>
                <v-card-text>
                  'Change Detection;LULC Mapping'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  skillLevel
                </v-subheader>
                <v-card-text>
                  'Intermediate'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  hasInterOpTool
                </v-subheader>
                <v-card-text>
                  'No'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  interoperateList
                </v-subheader>
                <v-card-text>
                  ''
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  inputDataFormat
                </v-subheader>
                <v-card-text>
                  'Satellite images'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  inputScale
                </v-subheader>
                <v-card-text>
                  'Any scale of available satellite data'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  outputDataFormat
                </v-subheader>
                <v-card-text>
                  'Map products'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  hasHelpLink
                </v-subheader>
                <v-card-text>
                  'Yes'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  helpLanguage
                </v-subheader>
                <v-card-text>
                  'English'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  helpLink
                </v-subheader>
                <v-card-text>
                  'No online version available.'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  supportedDevices
                </v-subheader>
                <v-card-text>
                  'Desktop'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  supportPlatforms
                </v-subheader>
                <v-card-text>
                  'Windows;Linux;Web browser'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  reqNetwork
                </v-subheader>
                <v-card-text>
                  'Available offline'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  reqStorage
                </v-subheader>
                <v-card-text>
                  'Local Hard Drive;Web browser'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  reqSystem
                </v-subheader>
                <v-card-text>
                  'Local Single Machine'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  licence
                </v-subheader>
                <v-card-text>
                  'Proprietary'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  version
                </v-subheader>
                <v-card-text>
                  '1.8'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  lastReleaseDate
                </v-subheader>
                <v-card-text>
                  '13.12.2018'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  activeDevelopement
                </v-subheader>
                <v-card-text>
                  'Yes'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  releaseLink
                </v-subheader>
                <v-card-text>
                  'Not available online.'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  contributorsList
                </v-subheader>
                <v-card-text>
                  'VTT Technical Research Centre of Finland Ltd.'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  region
                </v-subheader>
                <v-card-text>
                  'All the above-mentioned'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  forestTypes
                </v-subheader>
                <v-card-text>
                  'All the above-mentioned.'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  countriesUsed
                </v-subheader>
                <v-card-text>
                  'Finland, Russia, Germany, Portugal, Romania...'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  ipccTier
                </v-subheader>
                <v-card-text>
                  'Tier 2;Tier 3'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  ipccApproach
                </v-subheader>
                <v-card-text>
                  'Approach 2;Approach 3'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  inMGD
                </v-subheader>
                <v-card-text>
                  'No'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  calmLevel
                </v-subheader>
                <v-card-text>
                  'Level 7: Adopted in Operational Environment'
                </v-card-text>
              </ToolInfo>
              <ToolInfo>
                <v-subheader>
                  entryUpdated
                </v-subheader>
                <v-card-text>
                  ''
                </v-card-text>
              </ToolInfo>
            </div>
            <v-divider />
            <v-card-actions>
              <v-btn text>Do something</v-btn>
            </v-card-actions>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <h2 class="pa-1">Test Area for information value</h2>
    <GroupCard tool="" />
    <v-container>
      <h3 class="pa-1">Regular settings</h3>
      <v-row>
        <v-col cols="12" sm="6" md="3">
          <GroupCard label="Underlined" underlined />
        </v-col>

        <v-col cols="12" sm="6" md="3">
          <GroupCard label="Underlined" placeholder="Placeholder" underlined />
        </v-col>

        <v-col cols="12" sm="6" md="3">
          <GroupCard label="Regular" />
        </v-col>

        <v-col cols="12" sm="6" md="3">
          <GroupCard label="Regular" placeholder="Placeholder" />
        </v-col>

        <v-col cols="12" sm="6" md="3">
          <GroupCard label="Solo" solo />
        </v-col>

        <v-col cols="12" sm="6" md="3">
          <GroupCard label="Solo" placeholder="Placeholder" solo />
        </v-col>

        <v-col cols="12" sm="6" md="3">
          <GroupCard label="Filled" filled />
        </v-col>

        <v-col cols="12" sm="6" md="3">
          <GroupCard label="Filled" placeholder="Placeholder" filled />
        </v-col>

        <v-col cols="12" sm="6" md="3">
          <GroupCard label="Outlined" outlined />
        </v-col>

        <v-col cols="12" sm="6" md="3">
          <GroupCard label="Outlined" placeholder="Placeholder" outlined />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6">
          <GroupCard label="Solo" solo />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard label="Solo Inverted" solo-inverted />
        </v-col>
        <v-col cols="12" sm="6">
          <GroupCard label="Solo Rounded" outlined rounded />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard label="Flat Rounded" flat rounded outlined />
        </v-col>
      </v-row>
      <h3 class="pa-1">Custom Colours</h3>
      <v-row>
        <v-col cols="12" sm="6">
          <GroupCard
            color="white"
            background-color="purple darken-2"
            label="First name"
          >
            <v-card-text>This is another first name</v-card-text>
          </GroupCard>
        </v-col>
        <v-col cols="12" sm="6">
          <GroupCard
            color="white"
            background-color="blue darken-2"
            label="Last name"
            required
          >
            <v-card-text>
              and again with your last.
            </v-card-text>
          </GroupCard>
        </v-col>
      </v-row>
      <h3 class="pa-1">Hint Text</h3>
      <v-row>
        <v-col cols="12" sm="6">
          <GroupCard
            label="Your product or service"
            value="Grocery delivery"
            hint="For example, flowers or used cars"
          />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard
            label="Your landing page"
            hint="www.example.com/page"
            persistent-hint
          />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard
            label="Your product or service"
            value="Grocery delivery"
            hint="For example, flowers or used cars"
            filled
          />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard
            label="Your landing page"
            hint="www.example.com/page"
            persistent-hint
            filled
          />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard
            label="Your product or service"
            value="Grocery delivery"
            hint="For example, flowers or used cars"
            outlined
          />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard
            label="Your landing page"
            hint="www.example.com/page"
            persistent-hint
            outlined
          />
        </v-col>
      </v-row>
      <h3 class="pa-1">Prefix and Suffix for units</h3>
      <v-row>
        <v-col cols="4">
          <v-subheader>Prefix for dollar currency</v-subheader>
        </v-col>
        <v-col cols="8">
          <GroupCard label="Amount" value="10.00" prefix="$">
            10.00
          </GroupCard>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="4">
          <v-subheader>Suffix for weight</v-subheader>
        </v-col>
        <v-col cols="8">
          <GroupCard label="Weight" value="28.00" suffix="lbs">
            28.00
          </GroupCard>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="4">
          <v-subheader>Suffix for email domain</v-subheader>
        </v-col>
        <v-col cols="8">
          <GroupCard label="Email address" value="example" suffix="@gmail.com">
            example
          </GroupCard>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="4">
          <v-subheader>Suffix for time zone</v-subheader>
        </v-col>
        <v-col cols="8">
          <GroupCard
            label="Label Text"
            value="12:30:00"
            type="time"
            suffix="PST"
          >
            12:30:00
          </GroupCard>
        </v-col>
      </v-row>
      <h3 class="pa-1">Images and Icon and Slots</h3>
      <v-row>
        <v-col cols="12">
          <GroupCard
            v-model="messageA"
            :append-icon="marker ? 'mdi-map-marker' : 'mdi-map-marker-off'"
            :append-outer-icon="messageA ? 'mdi-send' : 'mdi-microphone'"
            :prepend-icon="icon"
            filled
            clear-icon="mdi-close-circle"
            clearable
            label="Message"
            type="text"
            @click:append="toggleMarker"
            @click:append-outer="sendMessage"
            @click:prepend="changeIcon"
            @click:clear="clearMessage"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <GroupCard
            v-model="messageB"
            outlined
            clearable
            label="Message"
            type="text"
          >
            <template v-slot:prepend>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-icon v-on="on">mdi-help-circle-outline</v-icon>
                </template>
                I'm a tooltip
              </v-tooltip>
            </template>
            <template v-slot:append>
              <v-fade-transition leave-absolute>
                <v-progress-circular
                  v-if="loading"
                  size="24"
                  color="info"
                  indeterminate
                />
                <img
                  v-else
                  width="24"
                  height="24"
                  src="https://cdn.vuetifyjs.com/images/logos/v-alt.svg"
                  alt=""
                />
              </v-fade-transition>
            </template>
            <template v-slot:append-outer>
              <v-menu style="top: -12px;" offset-y>
                <template v-slot:activator="{ on }">
                  <v-btn v-on="on">
                    <v-icon left>mdi-menu</v-icon>
                    Menu
                  </v-btn>
                </template>
                <v-card>
                  <v-card-text class="pa-6">
                    <v-btn large flat color="primary" @click="clickMe">
                      <v-icon left>mdi-target</v-icon>Click me
                    </v-btn>
                  </v-card-text>
                </v-card>
              </v-menu>
            </template>
          </GroupCard>
        </v-col>
      </v-row>
      <v-row>
        <GroupCard>
          <template v-slot:label>
            What about <strong>icon</strong> here?
            <v-icon style="vertical-align: middle;">mdi-map-marker</v-icon>
          </template>
        </GroupCard>
        <v-col cols="12" sm="6">
          <GroupCard v-model="first" label="First Name" outlined shaped />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard v-model="last" label="Last Name" filled shaped />
        </v-col>
      </v-row>

      <h3 class="pa-1">Disabled and Read only</h3>
      <v-row>
        <v-col cols="12" sm="6">
          <GroupCard value="John Doe" label="Regular" disabled />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard value="John Doe" label="Regular" readonly />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard value="John Doe" label="Solo" solo disabled />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard value="John Doe" label="Solo" solo readonly />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard value="John Doe" label="Filled" filled disabled />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard value="John Doe" label="Filled" filled readonly />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard value="John Doe" label="Outlined" outlined disabled />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard value="John Doe" label="Outlined" outlined readonly />
        </v-col>
      </v-row>
      <h3 class="pa-1">Prepend, Append, Inner and Outer</h3>
      <v-row>
        <v-col cols="12" sm="6">
          <GroupCard label="Prepend" prepend-icon="mdi-map-marker" />

          <GroupCard
            label="Prepend inner"
            prepend-inner-icon="mdi-map-marker"
          />

          <GroupCard label="Append" append-icon="mdi-map-marker" />

          <GroupCard label="Append outer" append-outer-icon="mdi-map-marker" />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard solo label="Prepend" prepend-icon="mdi-map-marker" />

          <GroupCard
            solo
            label="Prepend inner"
            prepend-inner-icon="mdi-map-marker"
          />

          <GroupCard solo label="Append" append-icon="mdi-map-marker" />

          <GroupCard
            solo
            label="Append outer"
            append-outer-icon="mdi-map-marker"
          />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard filled label="Prepend" prepend-icon="mdi-map-marker" />

          <GroupCard
            filled
            label="Prepend inner"
            prepend-inner-icon="mdi-map-marker"
          />

          <GroupCard filled label="Append" append-icon="mdi-map-marker" />

          <GroupCard
            filled
            label="Append outer"
            append-outer-icon="mdi-map-marker"
          />
        </v-col>

        <v-col cols="12" sm="6">
          <GroupCard outlined label="Prepend" prepend-icon="mdi-map-marker" />

          <GroupCard
            outlined
            label="Prepend inner"
            prepend-inner-icon="mdi-map-marker"
          />

          <GroupCard outlined label="Append" append-icon="mdi-map-marker" />

          <GroupCard
            outlined
            label="Append outer"
            append-outer-icon="mdi-map-marker"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import GroupCard from '@/components/GroupCard'
import ToolInfo from '@/components/ToolInfo'

export default {
  name: 'ToolInfoView',
  components: {
    ToolInfo,
    GroupCard
  },
  props: {
    tool: {
      type: Object,
      default() {
        return {
          name: 'Some great tool',
          description:
            'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta repellendus, a voluptas hic ratione, magnam ex corrupti ab veniam, ducimus ea aperiam asperiores rerum similique provident repudiandae eius soluta! Blanditiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis saepe praesentium vero mollitia nulla ipsum, eum, sint velit beatae blanditiis assumenda. Est consequuntur provident ducimus sit amet eveniet deleniti praesentium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi incidunt ipsa necessitatibus possimus voluptas nesciunt corporis laboriosam quidem at consequatur fuga itaque aliquam soluta, beatae eius deleniti debitis exercitationem et! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta repellendus, a voluptas hic ratione, magnam ex corrupti ab veniam, ducimus ea aperiam asperiores rerum similique provident repudiandae eius soluta! Blanditiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis saepe praesentium vero mollitia nulla ipsum, eum, sint velit beatae blanditiis assumenda. Est consequuntur provident ducimus sit amet eveniet deleniti praesentium!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi incidunt ipsa necessitatibus possimus voluptas nesciunt corporis laboriosam quidem at consequatur fuga itaque aliquam soluta, beatae eius deleniti debitis exercitationem et!',
          link: '/',
          language: '1',
          mrvObjectives:
            'Deforestation; Reforestation/afforestation; Burned area mapping',
          supportActivities: 'Remote sensing',
          tasksPerformed: 'Change Detection;LULC Mapping',
          skillLevel: 'Intermediate',
          hasInterOpTool: 'No',
          interoperateList: '',
          inputDataFormat: 'Satellite images',
          inputScale: 'Any scale of available satellite data',
          outputDataFormat: 'Map products',
          hasHelpLink: 'Yes',
          helpLanguage: 'English',
          helpLink: 'No online version available.',
          supportedDevices: 'Desktop',
          supportPlatforms: 'Windows;Linux;Web browser',
          reqNetwork: 'Available offline',
          reqStorage: 'Local Hard Drive;Web browser',
          reqSystem: 'Local Single Machine',
          licence: 'Proprietary',
          version: '1.8',
          lastReleaseDate: '13.12.2018',
          activeDevelopement: 'Yes',
          releaseLink: 'Not available online.',
          contributorsList: 'VTT Technical Research Centre of Finland Ltd.',
          region: 'All the above-mentioned',
          forestTypes: 'All the above-mentioned.',
          countriesUsed: 'Finland, Russia, Germany, Portugal, Romania...',
          ipccTier: 'Tier 2;Tier 3',
          ipccApproach: 'Approach 2;Approach 3',
          inMGD: 'No',
          calmLevel: 'Level 7: Adopted in Operational Environment',
          entryUpdated: ''
        }
      }
    }
  },
  data: () => ({
    messageA: 'Hey!',
    loading: false,
    password: 'Password',
    show: false,
    messageB: 'Hey!',
    marker: true,
    iconIndex: 0,
    icons: [
      'mdi-emoticon',
      'mdi-emoticon-cool',
      'mdi-emoticon-dead',
      'mdi-emoticon-excited',
      'mdi-emoticon-happy',
      'mdi-emoticon-neutral',
      'mdi-emoticon-sad',
      'mdi-emoticon-tongue'
    ],
    animals: ['Dog', 'Cat', 'Rabbit', 'Turtle', 'Snake']
  }),
  computed: {
    icon() {
      return this.icons[this.iconIndex]
    }
  },
  methods: {
    toggleMarker() {
      this.marker = !this.marker
    },
    sendMessage() {
      this.resetIcon()
      this.clearMessage()
    },
    clearMessage() {
      this.messageA = ''
    },
    resetIcon() {
      this.iconIndex = 0
    },
    changeIcon() {
      this.iconIndex === this.icons.length - 1
        ? (this.iconIndex = 0)
        : this.iconIndex++
    },
    clickMe() {
      this.loading = true
      this.messageB = 'Wait for it...'
      setTimeout(() => {
        this.loading = false
        this.messageB = "You've clicked me!"
      }, 2000)
    }
  }
}
</script>
<style lang="scss">
.v-subheader {
  align-items: left;
  height: 0.2 * 48px;
  padding: 15px 0 0;
}

.v-card__text {
  padding: 10px 2px 2px;
}
</style>
